<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Allottees Categories</title>
    <link rel="stylesheet" href="../../assets/dist/main.css" />
  </head>
  <body>
    <section class="section-wrapper allottees-categories-wrap bg-off-white">
      <div class="container">
        <div class="row allottees-categories-text-row">
          <div class="col-12">
            <h3>Allottee Documents</h3>
            <p>
              The Financial Services Department directs Northern Water and the
              Municipal Subdistrict’s financial affairs, including processing
              vendor payments and customer receipts, processing payroll,
              procuring goods and services, producing financial reports,
              investing funds, managing debt and producing the annual budget.
              Northern Water’s fiscal year begins October 1 and ends September
              30 of each year. 
            </p>
            <p>
              Northern Water offers a number of documents that impact C-BT
              allottees and water users. These documents include programs,
              policies, guidelines, rules and procedures. Not all programs or
              policies adopted by the Northern Water Board of Directors have
              corresponding rules and procedures. Rules, if applicable, describe
              a corresponding program or policy and how we implement that
              program or policy. Procedures, if applicable, typically describe
              operational details of a corresponding program or policy.
            </p>
          </div>
        </div>
        <div class="row allottees-categories-list-row">
          <div class="col-12">
            <div class="allottees-list">
              <article class="tabbed-content tabs-side">
                <nav class="tabs">
                  <ul>
                    <li>
                      <a href="#side_tab1" class="active">Carryover Program</a>
                    </li>
                    <li>
                      <a href="#side_tab2"
                        >Carryover Capacity Transferability Program</a
                      >
                    </li>
                    <li>
                      <a href="#side_tab3"
                        >C-BT Tracking Rule and Accounting Procedures</a
                      >
                    </li>
                    <li>
                      <a href="#side_tab4"
                        >Contracts - Additional Restriction on Use</a
                      >
                    </li>
                    <li>
                      <a href="#side_tab5">Contracts - Annual Assessments</a>
                    </li>
                    <li><a href="#side_tab6">Contracts - Water Delivery</a></li>
                    <li>
                      <a href="#side_tab7"
                        >Ownership Limitations and Restrictions</a
                      >
                    </li>
                    <li><a href="#side_tab8">Regional Pool Program</a></li>
                    <li><a href="#side_tab9">Rule 11</a></li>
                    <li><a href="#side_tab10">Subcontracting</a></li>
                  </ul>
                </nav>
                <section
                  id="side_tab1"
                  class="item active"
                  data-title="Carryover Program"
                >
                  <div class="item-content">
                    <h6>
                      Please select a category from the menu on the left to view
                      documents related to specific programs, policies and
                      procedures.
                    </h6>
                    <!-- PDF download button starts here-->
                    <a
                      href="#"
                      class="btn pdf-download-btn"
                      role="button"
                      aria-label="Water Provider Login"
                      tabindex="0"
                      data-button-type="primary"
                    >
                      <span class="pdf-cta-icon-left">
                        <i data-lucide="file-text"></i>
                      </span>
                      <div class="pdf-btn-wrap">
                        <span class="btn-text">Carryover Program</span>
                      </div>
                      <span class="pdf-cta-icon-right">
                        <i data-lucide="download"></i>
                      </span>
                    </a>
                    <!-- PDF download button ends here-->
                    <p>
                      Rule and Procedure for the Annual Carryover Program,
                      August 2004.
                    </p>
                    <!-- PDF download button starts here-->
                    <a
                      href="#"
                      class="btn pdf-download-btn"
                      role="button"
                      aria-label="Water Provider Login"
                      tabindex="0"
                      data-button-type="primary"
                    >
                      <span class="pdf-cta-icon-left">
                        <i data-lucide="file-text"></i>
                      </span>
                      <div class="pdf-btn-wrap">
                        <span class="btn-text">C-BT Project Water Tracking Rule</span>
                      </div>
                      <span class="pdf-cta-icon-right">
                        <i data-lucide="download"></i>
                      </span>
                    </a>
                    <!-- PDF download button ends here-->
                    <p>
                      The purpose of this Rule is to ensure that C-BT Project water and C-BT Project water return flows are used in accordance with the Repayment Contract, Water Conservancy Act, and Northern Water’s allotment contracts, for the benefit of lands within Northern Water.
                    </p>
                  </div>
                </section>
                <section
                  id="side_tab2"
                  class="item"
                  data-title="Carryover Capacity Transferability Program"
                >
                  <div class="item-content">
                    <h6>
                      Please select a category from the menu on the left to view
                      documents related to specific programs, policies and
                      procedures.
                    </h6>
                    <!-- PDF download button starts here-->
                    <a
                      href="#"
                      class="btn pdf-download-btn"
                      role="button"
                      aria-label="Water Provider Login"
                      tabindex="0"
                      data-button-type="primary"
                    >
                      <span class="pdf-cta-icon-left">
                        <i data-lucide="file-text"></i>
                      </span>
                      <div class="pdf-btn-wrap">
                        <span class="btn-text">Carryover Program</span>
                      </div>
                      <span class="pdf-cta-icon-right">
                        <i data-lucide="download"></i>
                      </span>
                    </a>
                    <!-- PDF download button ends here-->
                    <p>
                      Rule and Procedure for the Annual Carryover Program,
                      August 2004.
                    </p>
                  </div>
                </section>
                <section
                  id="side_tab3"
                  class="item"
                  data-title="C-BT Tracking Rule and Accounting Procedures"
                >
                  <div class="item-content">
                    <h6>
                      Please select a category from the menu on the left to view
                      documents related to specific programs, policies and
                      procedures.
                    </h6>
                    <!-- PDF download button starts here-->
                    <a
                      href="#"
                      class="btn pdf-download-btn"
                      role="button"
                      aria-label="Water Provider Login"
                      tabindex="0"
                      data-button-type="primary"
                    >
                      <span class="pdf-cta-icon-left">
                        <i data-lucide="file-text"></i>
                      </span>
                      <div class="pdf-btn-wrap">
                        <span class="btn-text">Carryover Program</span>
                      </div>
                      <span class="pdf-cta-icon-right">
                        <i data-lucide="download"></i>
                      </span>
                    </a>
                    <!-- PDF download button ends here-->
                    <p>
                      Rule and Procedure for the Annual Carryover Program,
                      August 2004.
                    </p>
                  </div>
                </section>
                <section
                  id="side_tab4"
                  class="item"
                  data-title="Contracts - Additional Restriction on Use"
                >
                  <div class="item-content">
                    <h6>
                      Please select a category from the menu on the left to view
                      documents related to specific programs, policies and
                      procedures.
                    </h6>
                    <!-- PDF download button starts here-->
                    <a
                      href="#"
                      class="btn pdf-download-btn"
                      role="button"
                      aria-label="Water Provider Login"
                      tabindex="0"
                      data-button-type="primary"
                    >
                      <span class="pdf-cta-icon-left">
                        <i data-lucide="file-text"></i>
                      </span>
                      <div class="pdf-btn-wrap">
                        <span class="btn-text">Carryover Program</span>
                      </div>
                      <span class="pdf-cta-icon-right">
                        <i data-lucide="download"></i>
                      </span>
                    </a>
                    <!-- PDF download button ends here-->
                    <p>
                      Rule and Procedure for the Annual Carryover Program,
                      August 2004.
                    </p>
                  </div>
                </section>
                <section
                  id="side_tab5"
                  class="item"
                  data-title="Contracts - Annual Assessments"
                >
                  <div class="item-content">
                    <h6>
                      Please select a category from the menu on the left to view
                      documents related to specific programs, policies and
                      procedures.
                    </h6>
                    <!-- PDF download button starts here-->
                    <a
                      href="#"
                      class="btn pdf-download-btn"
                      role="button"
                      aria-label="Water Provider Login"
                      tabindex="0"
                      data-button-type="primary"
                    >
                      <span class="pdf-cta-icon-left">
                        <i data-lucide="file-text"></i>
                      </span>
                      <div class="pdf-btn-wrap">
                        <span class="btn-text">Carryover Program</span>
                      </div>
                      <span class="pdf-cta-icon-right">
                        <i data-lucide="download"></i>
                      </span>
                    </a>
                    <!-- PDF download button ends here-->
                    <p>
                      Rule and Procedure for the Annual Carryover Program,
                      August 2004.
                    </p>
                  </div>
                </section>
                <section
                  id="side_tab6"
                  class="item"
                  data-title="Contracts - Water Delivery"
                >
                  <div class="item-content">
                    <h6>
                      Please select a category from the menu on the left to view
                      documents related to specific programs, policies and
                      procedures.
                    </h6>
                    <!-- PDF download button starts here-->
                    <a
                      href="#"
                      class="btn pdf-download-btn"
                      role="button"
                      aria-label="Water Provider Login"
                      tabindex="0"
                      data-button-type="primary"
                    >
                      <span class="pdf-cta-icon-left">
                        <i data-lucide="file-text"></i>
                      </span>
                      <div class="pdf-btn-wrap">
                        <span class="btn-text">Carryover Program</span>
                      </div>
                      <span class="pdf-cta-icon-right">
                        <i data-lucide="download"></i>
                      </span>
                    </a>
                    <!-- PDF download button ends here-->
                    <p>
                      Rule and Procedure for the Annual Carryover Program,
                      August 2004.
                    </p>
                  </div>
                </section>
                <section
                  id="side_tab7"
                  class="item"
                  data-title="Ownership Limitations and Restrictions"
                >
                  <div class="item-content">
                    <h6>
                      Please select a category from the menu on the left to view
                      documents related to specific programs, policies and
                      procedures.
                    </h6>
                    <!-- PDF download button starts here-->
                    <a
                      href="#"
                      class="btn pdf-download-btn"
                      role="button"
                      aria-label="Water Provider Login"
                      tabindex="0"
                      data-button-type="primary"
                    >
                      <span class="pdf-cta-icon-left">
                        <i data-lucide="file-text"></i>
                      </span>
                      <div class="pdf-btn-wrap">
                        <span class="btn-text">Carryover Program</span>
                      </div>
                      <span class="pdf-cta-icon-right">
                        <i data-lucide="download"></i>
                      </span>
                    </a>
                    <!-- PDF download button ends here-->
                    <p>
                      Rule and Procedure for the Annual Carryover Program,
                      August 2004.
                    </p>
                  </div>
                </section>
                <section
                  id="side_tab8"
                  class="item"
                  data-title="Regional Pool Program"
                >
                  <div class="item-content">
                    <h6>
                      Please select a category from the menu on the left to view
                      documents related to specific programs, policies and
                      procedures.
                    </h6>
                    <!-- PDF download button starts here-->
                    <a
                      href="#"
                      class="btn pdf-download-btn"
                      role="button"
                      aria-label="Water Provider Login"
                      tabindex="0"
                      data-button-type="primary"
                    >
                      <span class="pdf-cta-icon-left">
                        <i data-lucide="file-text"></i>
                      </span>
                      <div class="pdf-btn-wrap">
                        <span class="btn-text">Carryover Program</span>
                      </div>
                      <span class="pdf-cta-icon-right">
                        <i data-lucide="download"></i>
                      </span>
                    </a>
                    <!-- PDF download button ends here-->
                    <p>
                      Rule and Procedure for the Annual Carryover Program,
                      August 2004.
                    </p>
                  </div>
                </section>
                <section id="side_tab9" class="item" data-title="Rule 11">
                  <div class="item-content">
                    <h6>
                      Please select a category from the menu on the left to view
                      documents related to specific programs, policies and
                      procedures.
                    </h6>
                    <!-- PDF download button starts here-->
                    <a
                      href="#"
                      class="btn pdf-download-btn"
                      role="button"
                      aria-label="Water Provider Login"
                      tabindex="0"
                      data-button-type="primary"
                    >
                      <span class="pdf-cta-icon-left">
                        <i data-lucide="file-text"></i>
                      </span>
                      <div class="pdf-btn-wrap">
                        <span class="btn-text">Carryover Program</span>
                      </div>
                      <span class="pdf-cta-icon-right">
                        <i data-lucide="download"></i>
                      </span>
                    </a>
                    <!-- PDF download button ends here-->
                    <p>
                      Rule and Procedure for the Annual Carryover Program,
                      August 2004.
                    </p>
                  </div>
                </section>
                <section
                  id="side_tab10"
                  class="item"
                  data-title="Subcontracting"
                >
                  <div class="item-content">
                    <h6>
                      Please select a category from the menu on the left to view
                      documents related to specific programs, policies and
                      procedures.
                    </h6>
                    <!-- PDF download button starts here-->
                    <a
                      href="#"
                      class="btn pdf-download-btn"
                      role="button"
                      aria-label="Water Provider Login"
                      tabindex="0"
                      data-button-type="primary"
                    >
                      <span class="pdf-cta-icon-left">
                        <i data-lucide="file-text"></i>
                      </span>
                      <div class="pdf-btn-wrap">
                        <span class="btn-text">Carryover Program</span>
                      </div>
                      <span class="pdf-cta-icon-right">
                        <i data-lucide="download"></i>
                      </span>
                    </a>
                    <!-- PDF download button ends here-->
                    <p>
                      Rule and Procedure for the Annual Carryover Program,
                      August 2004.
                    </p>
                  </div>
                </section>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="../../assets/dist/main.min.js"></script>
  </body>
</html>
