<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cards Component Variants</title>
    <link rel="stylesheet" href="../../assets/dist/main.css" />

  </head>
  <body>

    
<!---signup form start-->
    <section class="section-wrapper signup-form  bg-off-white ">
        <div class="container">
            <div class="row gx-5">
                <div class="col-12 col-lg-6">
                    <h4 class="title">Signage Request</h4>
                    <form>
                        <div class="row">

                          <div class="col-md-6">
                            <label for="name">Name*</label>
                            <input type="text" class="form-control isvalid" id="name" placeholder="Name">
                            <div class="error-text d-none"><i data-lucide="triangle-alert"></i> Please fill this in</div>
                          </div>

                          <div class="col-md-6">
                            <label for="organization">Organization*</label>
                            <input type="text" class="form-control isinvalid" id="organization" placeholder="Enter the organization name">
                            <div class="error-text"><i data-lucide="triangle-alert"></i> Please fill this in</div>
                          </div>
                    
                          <div class="col-md-6">
                            <label for="email">Email*</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter the email ID">
                            <div class="error-text d-none"><i data-lucide="triangle-alert"></i> Please fill this in</div>
                          </div>
                          <div class="col-md-6">
                            <label for="phone">Phone Number*</label>
                            <input type="tel" class="form-control isinvalid" id="phone" placeholder="Enter the phone number">
                            <div class="error-text"><i data-lucide="triangle-alert"></i> Please fill this in</div>
                          </div>
                    
                          <div class="col-md-6 ">
                            <label for="signType">Sign Type*</label>
                            <select class="form-select" id="signType" placeholder="jjjj">
                              <option selected disabled>Select the sign type</option>
                              <option value="digital">Digital</option>
                              <option value="print">Print</option>
                            </select>
                          </div>
                    
                          <div class="col-md-6">
                              <label for="logoUpload">LOGO*</label>
                              <div class="upload-wrapper" onclick="document.getElementById('logoUpload').click()">
                                <span class="upload-placeholder">Choose file</span>
                                <span class="upload-icon">
                                  <img src="../../assets/images/upload file.svg" alt="Upload Icon">
                                </span>
                                <input type="file" id="logoUpload" accept=".png, .eps" class="form-control-file" onchange="updateFileName(this)">
                              </div>
                              <small class="form-text">Please upload a PNG or EPS file of your logo.</small>
                          </div>
                    
                          <div class="col-12 ">
                            <label>reCAPTCHA</label>
                            <div class="g-recaptcha" data-sitekey="your-site-key"></div>
                          </div>
                    
                          <div class="col-12">
                            <button type="submit" class="btn btn-submit">Submit</button>
                          </div>
                        </div>
                      </form>
                     
                </div>
                <div class="col-12 col-lg-6">
                    <div class="inner-wrap">
                        <h4 class="title">Sign Examples</h4>
                        <a href="" class="link"><img src="../../assets/images/file.svg" alt="icon">Native Grasses Area Sample Sign</a>
                        <img src="../../../src/assets/images/contact-setion-img.svg" class="img-fluid banner" alt="">
                    </div>
               </div>
            </div>
        </div>
    </section>
   <!---signup form end-->
    
    <script src="../../assets/dist/main.min.js"></script>
   
    
  </body>
</html>
