<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ Component</title>
    <link rel="stylesheet" href="../../assets/dist/main.css" />
  </head>
  <body>
    <section class="section-wrapper faq-accordion-wrapper bg-off-white">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3 id="faq-heading">Regional Pool Program FAQS</h3>
            <section class="faq-accordion" aria-labelledby="faq-heading">
              <article class="faq">
                <button class="accordian_header">
                  <h6>Where does the Regional Pool Program water come from?</h6>
                  <div class="accordion_icon" aria-hidden="true">
                    <i data-lucide="plus" class="faq-icon" aria-hidden="true"></i>
                  </div>
                </button>
                <div class="accordian_content" role="region">
                  <p>
                    At the end of every water year on Oct. 31, account entities
                    are allowed to carry over a portion of their unused C-BT
                    Project water into the new water year. Unused water in
                    excess of an account entities carryover limits accrue to the
                    Regional Pool. If an account entity elects not to pay for
                    the storage of carryover water, that water also accrues to
                    the Regional Pool.
                  </p>
                </div>
              </article>
              <article class="faq">
                <button class="accordian_header">
                  <h6>
                    How and when is water allocated from the Regional Pool?
                  </h6>
                  <div class="accordion_icon" aria-hidden="true">
                    <i data-lucide="plus" class="faq-icon" aria-hidden="true"></i>
                  </div>
                </button>
                <div
                  class="accordian_content"
                  role="region"
                  aria-labelledby="faq-question-1"
                  aria-hidden="true"
                  aria-expanded="false"
                >
                  <p>
                    At the end of every water year on Oct. 31, account entities
                    are allowed to carry over a portion of their unused C-BT
                    Project water into the new water year. Unused water in
                    excess of an account entities carryover limits accrue to the
                    Regional Pool. If an account entity elects not to pay for
                    the storage of carryover water, that water also accrues to
                    the Regional Pool.
                  </p>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </section>

    <script src="../../assets/dist/main.min.js"></script>
  </body>
</html>
