<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>History Timeline Component</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    />
    <link rel="stylesheet" href="../../assets/dist/main.css" />
  </head>
  <body>
    <section class="timeline-container section-wrapper">
      <h2 class="timeline-title">History</h2>
      <section class="timeline-info">
        From the first drops of the C-BT Project to tomorrow’s sustainable solutions - explore the milestones that defined Northern Water’s legacy.
      </section>
      <div class="timeline">
        <div class="timeline-wrapper">
          <div class="timeline-slider">
            <div class="timeline-slide" data-year="1910">
              <div class="timeline-slide__content">
                <section class="timerline-slide__menu">
                  <h5 class="timerline-slide__menu-title">Events Timeline</h5>
                  <ul class="timerline-slide__menu-list">
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i><span></span>1910s -
                        Slide 1</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i>1910s - Slide 2</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i>1910s - Slide 3</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i>1910s - Slide 4</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i>1910s - Slide 5</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i>1910s - Slide 6</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i>1910s - Slide 7</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i>1910s - Slide 8</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i>1910s - Slide 9</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i>1910s - Slide 10</a
                      >
                    </li>
                  </ul>
                </section>
                <section class="timerline-slide__carousel">
                  <div class="center-slider">
                    <div>1910s - Slide 1</div>
                    <div>1910s - Slide 2</div>
                    <div>1910s - Slide 3</div>
                    <div>1910s - Slide 4</div>
                    <div>1910s - Slide 5</div>
                    <div>1910s - Slide 6</div>
                    <div>1910s - Slide 7</div>
                    <div>1910s - Slide 8</div>
                    <div>1910s - Slide 9</div>
                    <div>1910s - Slide 10</div>
                  </div>
                </section>
              </div>
            </div>
            <div class="timeline-slide" data-year="1920">
              <div class="timeline-slide__content">
                <section class="timerline-slide__menu">
                  <h5 class="timerline-slide__menu-title">Events Timeline</h5>
                  <ul class="timerline-slide__menu-list">
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i><span></span>1920s -
                        Slide 1</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i>1920s - Slide 2</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i>1920s - Slide 3</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i>1920s - Slide 4</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i>1920s - Slide 5</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i>1920s - Slide 6</a
                      >
                    </li>
                  </ul>
                </section>
                <section class="timerline-slide__carousel">
                  <div class="center-slider">
                    <div>1920s - Slide 1</div>
                    <div>1920s - Slide 2</div>
                    <div>1920s - Slide 3</div>
                    <div>1920s - Slide 4</div>
                    <div>1920s - Slide 5</div>
                    <div>1920s - Slide 6</div>
                  </div>
                </section>
              </div>
            </div>
            <div class="timeline-slide" data-year="1930">
              <div class="timeline-slide__content">
                <section class="timerline-slide__menu">
                  <h5 class="timerline-slide__menu-title">Events Timeline</h5>
                  <ul class="timerline-slide__menu-list">
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i><span></span>1930s -
                        Slide 1</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i>1930s - Slide 2</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i>1930s - Slide 3</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i>1930s - Slide 4</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i>1930s - Slide 5</a
                      >
                    </li>
                  </ul>
                </section>
                <section class="timerline-slide__carousel">
                  <div class="center-slider">
                    <div>1930s - Slide 1</div>
                    <div>1930s - Slide 2</div>
                    <div>1930s - Slide 3</div>
                    <div>1930s - Slide 4</div>
                    <div>1930s - Slide 5</div>
                    <div>1930s - Slide 6</div>
                  </div>
                </section>
              </div>
            </div>
            <div class="timeline-slide" data-year="1940">
              <div class="timeline-slide__content">
                <section class="timerline-slide__menu">
                  <h5 class="timerline-slide__menu-title">Events Timeline</h5>
                  <ul class="timerline-slide__menu-list">
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i><span></span>1930</a
                      >
                    </li>
                    <li>
                      <a href="#"><i data-lucide="calendar-days"></i>1920s</a>
                    </li>
                    <li>
                      <a href="#"><i data-lucide="calendar-days"></i>1930s</a>
                    </li>
                    <li>
                      <a href="#"><i data-lucide="calendar-days"></i>1940s</a>
                    </li>
                    <li>
                      <a href="#"><i data-lucide="calendar-days"></i>1950s</a>
                    </li>
                  </ul>
                </section>
                <section class="timerline-slide__carousel">
                  <div class="center-slider">
                    <div>1940s - Slide 1</div>
                    <div>1940s - Slide 2</div>
                    <div>1940s - Slide 3</div>
                    <div>1940s - Slide 4</div>
                    <div>1940s - Slide 5</div>
                    <div>1940s - Slide 6</div>
                  </div>
                </section>
              </div>
            </div>
            <div class="timeline-slide" data-year="1950">
              <div class="timeline-slide__content">
                <section class="timerline-slide__menu">
                  <h5 class="timerline-slide__menu-title">Events Timeline</h5>
                  <ul class="timerline-slide__menu-list">
                    <li>
                      <a href="#"
                        ><i data-lucide="calendar-days"></i><span></span>1930</a
                      >
                    </li>
                    <li>
                      <a href="#"><i data-lucide="calendar-days"></i>1920s</a>
                    </li>
                    <li>
                      <a href="#"><i data-lucide="calendar-days"></i>1930s</a>
                    </li>
                    <li>
                      <a href="#"><i data-lucide="calendar-days"></i>1940s</a>
                    </li>
                    <li>
                      <a href="#"><i data-lucide="calendar-days"></i>1950s</a>
                    </li>
                  </ul>
                </section>
                <section class="timerline-slide__carousel">
                  <div class="center-slider">
                    <div>1950s - Slide 1</div>
                    <div>1950s - Slide 2</div>
                    <div>1950s - Slide 3</div>
                    <div>1950s - Slide 4</div>
                    <div>1950s - Slide 5</div>
                    <div>1950s - Slide 6</div>
                  </div>
                </section>
              </div>
            </div>
          </div>

          <div class="timeline-nav">
            <div class="timeline-nav__item">1910s</div>
            <div class="timeline-nav__item">1920s</div>
            <div class="timeline-nav__item">1930s</div>
            <div class="timeline-nav__item">1940s</div>
            <div class="timeline-nav__item">1950s</div>
          </div>

          <div class="timeline-buttons-wrap">
            <button class="timeline-prev-btn">Previous</button>
            <button class="timeline-next-btn">Next</button>
          </div>
        </div>
      </div>
    </section>
    <script src="../../assets/dist/main.min.js"></script>
  </body>
</html>
