<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>History Timeline Component</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
  <link rel="stylesheet" href="../../assets/dist/main.css" />
</head>

<body>
  <section class="timeline-container section-wrapper">
    <h2 class="timeline-title">History</h2>
    <section class="timeline-info">
      From the first drops of the C-BT Project to tomorrow’s sustainable
      solutions - explore the milestones that defined Northern Water’s legacy.
    </section>
    <div class="timeline">
      <div class="timeline-wrapper">
        <div class="timeline-slider">
          <div class="timeline-slide" data-year="1930">
            <div class="timeline-slide__content">
              <section class="timerline-slide__menu">
                <h3 class="timerline-slide__menu-title">Events Timeline</h3>
                <ul class="timerline-slide__menu-list">
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1930</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>August 17, 1933
                    </a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>December 1933</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>January 1935</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>January 25, 1935</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>July 1, 1936</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>May 13, 1937</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>June 1937</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>June 11, 1937</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>June 15, 1937</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>June 24, 1937</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>Aug. 9, 1937</a>
                  </li>
                </ul>
              </section>
              <section class="timerline-slide__carousel">
                <div class="center-slider">
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-01.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1930</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-02.webp" alt="1930s - Slide 2" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">August 17, 1933</h4>
                      <p>
                        Northern Colorado leaders organize the Grand Lake
                        Committee – predecessor to the Northern Colorado Water
                        Users Association and the Northern Colorado Water
                        Conservancy District (NCWCD/Northern Water) – to
                        pursue a Grand Lake water diversion project.
                      </p>
                    </div>
                  </div>
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/histoy-timeline-img-03.webp " alt="1930s - Slide 3" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">December 1933</h4>
                      <p>
                        Engineers report that a Grand Lake water diversion
                        project is feasible.
                      </p>
                    </div>
                  </div>
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/histoy-timeline-img-03.webp" alt="1930s - Slide 3" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">December 1933</h4>
                      <p>
                        Engineers report that a Grand Lake water diversion
                        project is feasible.
                      </p>
                    </div>
                  </div>
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/histoy-timeline-img-03.webp" alt="1930s - Slide 3" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">December 1933</h4>
                      <p>
                        Engineers report that a Grand Lake water diversion
                        project is feasible.
                      </p>
                    </div>
                  </div>
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/histoy-timeline-img-03.webp" alt="1930s - Slide 3" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">December 1933</h4>
                      <p>
                        Engineers report that a Grand Lake water diversion
                        project is feasible.
                      </p>
                    </div>
                  </div>
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/histoy-timeline-img-03.webp" alt="1930s - Slide 3" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">December 1933</h4>
                      <p>
                        Engineers report that a Grand Lake water diversion
                        project is feasible.
                      </p>
                    </div>
                  </div>
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/histoy-timeline-img-03.webp" alt="1930s - Slide 3" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">December 1933</h4>
                      <p>
                        Engineers report that a Grand Lake water diversion
                        project is feasible.
                      </p>
                    </div>
                  </div>
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/histoy-timeline-img-03.webp" alt="1930s - Slide 3" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">December 1933</h4>
                      <p>
                        Engineers report that a Grand Lake water diversion
                        project is feasible.
                      </p>
                    </div>
                  </div>
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/histoy-timeline-img-03.webp" alt="1930s - Slide 3" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">December 1933</h4>
                      <p>
                        Engineers report that a Grand Lake water diversion
                        project is feasible.
                      </p>
                    </div>
                  </div>
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/histoy-timeline-img-03.webp" alt="1930s - Slide 3" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">December 1933</h4>
                      <p>
                        Engineers report that a Grand Lake water diversion
                        project is feasible.
                      </p>
                    </div>
                  </div>
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/histoy-timeline-img-03.webp" alt="1930s - Slide 3" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">December 1933</h4>
                      <p>
                        Engineers report that a Grand Lake water diversion
                        project is feasible.
                      </p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="timeline-slide" data-year="1940">
            <div class="timeline-slide__content">
              <section class="timerline-slide__menu">
                <h3 class="h5 timerline-slide__menu-title">Events Timeline</h3>
                <ul class="timerline-slide__menu-list">
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i><span></span>1920s -
                      Slide 1</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1920s - Slide 2</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1920s - Slide 3</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1920s - Slide 4</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1920s - Slide 5</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1920s - Slide 6</a>
                  </li>
                </ul>
              </section>
              <section class="timerline-slide__carousel">
                <div class="center-slider">
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-01.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1920</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-02.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1921</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/histoy-timeline-img-03.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1922</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-01.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1924</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-02.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1925</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/histoy-timeline-img-03.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1926</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="timeline-slide" data-year="1950">
            <div class="timeline-slide__content">
              <section class="timerline-slide__menu">
                <h3 class="h5 timerline-slide__menu-title">Events Timeline</h3>
                <ul class="timerline-slide__menu-list">
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i><span></span>1930s -
                      Slide 1</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1930s - Slide 2</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1930s - Slide 3</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1930s - Slide 4</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1930s - Slide 5</a>
                  </li>
                </ul>
              </section>
              <section class="timerline-slide__carousel">
                <div class="center-slider">
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-01.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1930s</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-02.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1931</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/histoy-timeline-img-03.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1932</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>

                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-01.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1933</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>

                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-02.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1934</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/histoy-timeline-img-03.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1935</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>

                </div>
              </section>
            </div>
          </div>
          <div class="timeline-slide" data-year="1960">
            <div class="timeline-slide__content">
              <section class="timerline-slide__menu">
                <h3 class="h5 timerline-slide__menu-title">Events Timeline</h3>
                <ul class="timerline-slide__menu-list">
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i><span></span>1930</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1920s</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1930s</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1940s</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1950s</a>
                  </li>
                </ul>
              </section>
              <section class="timerline-slide__carousel">
                <div class="center-slider">
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-01.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1941</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>

                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-02.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1942</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>

                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/histoy-timeline-img-03.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1943</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>

                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-01.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1944</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>

                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-02.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1945</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="timeline-slide" data-year="1970">
            <div class="timeline-slide__content">
              <section class="timerline-slide__menu">
                <h3 class="h5 timerline-slide__menu-title">Events Timeline</h3>
                <ul class="timerline-slide__menu-list">
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i><span></span>1930</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1920s</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1930s</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1940s</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1950s</a>
                  </li>
                </ul>
              </section>
              <section class="timerline-slide__carousel">
                <div class="center-slider">
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-01.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1950</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-02.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1951</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>

                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/histoy-timeline-img-03.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1952</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>


                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-01.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1953</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>


                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-02.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1954</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>


                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/histoy-timeline-img-03.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1955</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="timeline-slide" data-year="1980">
            <div class="timeline-slide__content">
              <section class="timerline-slide__menu">
                <h3 class="timerline-slide__menu-title">Events Timeline</h3>
                <ul class="timerline-slide__menu-list">
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i><span></span>1930</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1920s</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1930s</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1940s</a>
                  </li>
                  <li>
                    <a href="#"><i data-lucide="calendar-days"></i>1950s</a>
                  </li>
                </ul>
              </section>
              <section class="timerline-slide__carousel">
                <div class="center-slider">
                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-01.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1956</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>

                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-02.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1957</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>


                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/histoy-timeline-img-03.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1958</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>

                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-01.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1959</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>


                  <div class="timerline-slide__carousel-item">
                    <figure>
                      <img src="../../assets/images/history-timeline-img-02.webp" alt="1930s - Slide 1" />
                    </figure>
                    <div class="timerline-slide__carousel-item-content">
                      <h4 class="h5">1960</h4>
                      <p>
                        The Great Depression hits. Drought and dust storms
                        force many northeastern Colorado farmers to halt all
                        efforts to raise crops.
                      </p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>

        <div class="timeline-nav">
          <div class="timeline-nav__item">
            <span>The Foundation</span><span>1930s</span>
          </div>
          <div class="timeline-nav__item">
            <span>The Foundation</span><span>1940s</span>
          </div>
          <div class="timeline-nav__item">
            <span>The Foundation</span><span>1950s</span>
          </div>
          <div class="timeline-nav__item">
            <span>The Foundation</span><span>1960s</span>
          </div>
          <div class="timeline-nav__item">
            <span>The Foundation</span><span>1970s</span>
          </div>
          <div class="timeline-nav__item">
            <span>The Foundation</span><span>1980s</span>
          </div>
        </div>

        <div class="timeline-buttons-wrap">
          <button class="timeline-prev-btn"><i data-lucide="arrow-left"></i></button>
          <button class="timeline-next-btn"><i data-lucide="arrow-right"></i></button>
        </div>
      </div>
    </div>
  </section>
  <script src="../../assets/dist/main.min.js"></script>
</body>

</html>