<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image and Text Components (v1, v2, v3)</title>
  <link rel="stylesheet" href="../../assets/dist/main.css">
</head>

<body>
  <!-- Image Text - Right Image -->
  <section class="image-text meeting-event-wrap">
    <div class="container">
      <div class="row gx-5 gy-4">
        <div class="col-12 col-md-6  align-self-center">
          <div class="heading-wrap">
            <h2>Upcoming Meetings and Events.</h2>
          </div>
          <p>
            Join us for upcoming meetings and events to explore how Northern Water is shaping the future of water in
            Northern Colorado. Visit our campus, meet the team, and see our impact firsthand.
          </p>
        </div>
        <div class="col-12 col-md-6">
          <div class="img-wrap">
            <img class="img-fluid" src="../../assets/images/card-7.jpg" alt="Upcoming Meetings and Events" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Image Text - Right Image Ends-->


  <!-- Image Text - left Image -->
  <section class="image-text img-left">
    <div class="container">
      <div class="row gx-5 gy-4">
        <div class="col-12 col-md-6 align-self-center">
          <div class="heading-wrap">
            <h2>Join Our Team.</h2>
          </div>
          <p>
            At Northern Water, we're looking for passionate individuals to help us manage and protect the vital water
            resources of Northern Colorado.
          </p>
          <a href="#" class="btn primary-btn d-inline-flex align-items-center liquid-animation"
            aria-label="Water Provider Login">
            <div class="primary-btn-wrap  norm liquid-animation-items liquid-animation-bg">
              <span class="btn-text">Water Provider Login</span>

              <span class="btn-icon liquid-animation-items liquid-animation-circle move">
                <span class="circle-animation">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 12H19" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M12 5L19 12L12 19" stroke="#fff" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                  <defs>
                    <filter id="goo">
                      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                        result="goo" />
                      <feBlend in="SourceGraphic" in2="goo" />
                    </filter>
                  </defs>
                </svg>
              </span>
            </div>
          </a>
        </div>
        <div class="col-12 col-md-6">
          <div class="img-wrap">
            <img class="img-fluid" src="../../assets/images/card-7.jpg" alt="Upcoming Meetings and Events" />
          </div>
          <div class="img-caption">Northern Water field tour event, Summer 2023.</div>
        </div>
      </div>
    </div>
  </section>
  <!-- Image Text - Left Image Ends-->

  <section class="image-text img-left">
    <div class="container">
      <div class="row gx-5 gy-4">
        <div class="col-12 col-md-6 align-self-center">
          <div class="heading-wrap">
            <h2>Northern Water</h2>
          </div>
          <p>
            The seed for the Northern Colorado Water Conservancy District was planted during the 1930s, when Colorado
            was suffering through the Great Depression and a devastating drought. Entire fields of topsoil were
            blowing
            away and one-third of the farms in Larimer County were put up for sale.
          </p>
          <p>
            In the summer of 1933, the Greeley Chamber of Commerce organized the Grand Lake Committee to pursue
            surveying and funding a water diversion project. The committee was the predecessor to the Northern
            Colorado
            Water Users Association, a group of civic leaders formed in 1935 to propose the Colorado-Big Thompson
            Project, or "Big Tom" as it was called, to provide supplemental water to Northeastern Colorado farmers.
          </p>
          <p>
            In May 1937, the Colorado Legislature passed the Water Conservancy Act, laying the groundwork to create
            the
            Northern Colorado Water Conservancy District the same year.
          </p>
          <p>
            The C-BT Project began its first year of water deliveries to the full district in 1957 and since then has
            collected and delivered more than 200,000 acre-feet of supplemental water each year on
            average. Through its design, the project collects and stores water from the melting snowpack near
            the headwaters of the Colorado River and brings it underneath the Continental Divide to Northeastern
            Colorado.  
          </p>
          <p>
            When we began in 1937 our main purpose was to provide supplemental irrigation water to farmers in
            Northeastern Colorado.<a href="#">The meetings begin at 9 a.m,</a> Today, we also provide supplemental
            year-round water to local municipalities, rural
            and domestic water districts, and local industries.
          </p>
        </div>
        <div class="col-12 col-md-6">
          <div class="img-wrap">
            <img class="img-fluid" src="../../assets/images/card-7.jpg" alt="Upcoming Meetings and Events" />
          </div>
          <div class="img-caption">Northern Water field tour event, Summer 2023.</div>
        </div>
      </div>
    </div>
  </section>

  <section class="image-text img-left">
    <div class="container">
      <div class="row gx-5 gy-4">
        <div class="col-12 col-md-6 align-self-center">
          <div class="heading-wrap">
            <h2>Northern Water</h2>
          </div>
          <p>
            The seed for the Northern Colorado Water Conservancy District was planted during the 1930s, when Colorado
            was suffering through the Great Depression and a devastating drought. Entire fields of topsoil were
            blowing
            away and one-third of the farms in Larimer County were put up for sale.
          </p>
          <p>
            In the summer of 1933, the Greeley Chamber of Commerce organized the Grand Lake Committee to pursue
            surveying and funding a water diversion project. The committee was the predecessor to the Northern
            Colorado
            Water Users Association, a group of civic leaders formed in 1935 to propose the Colorado-Big Thompson
            Project, or "Big Tom" as it was called, to provide supplemental water to Northeastern Colorado farmers.
          </p>
          <p>
            In May 1937, the Colorado Legislature passed the Water Conservancy Act, laying the groundwork to create
            the
            Northern Colorado Water Conservancy District the same year.
          </p>
          <p>
            The C-BT Project began its first year of water deliveries to the full district in 1957 and since then has
            collected and delivered more than 200,000 acre-feet of supplemental water each year on
            average. Through its design, the project collects and stores water from the melting snowpack near
            the headwaters of the Colorado River and brings it underneath the Continental Divide to Northeastern
            Colorado.  
          </p>
          <p>
            When we began in 1937 our main purpose was to provide supplemental irrigation water to farmers in
            Northeastern Colorado.<a href="#">The meetings begin at 9 a.m,</a> Today, we also provide supplemental
            year-round water to local municipalities, rural
            and domestic water districts, and local industries.
          </p>
        </div>
        <div class="col-12 col-md-6">
          <div class="img-wrap">
            <img class="img-fluid" src="../../assets/images/card-7.jpg" alt="Upcoming Meetings and Events" />
          </div>
          <div class="img-caption">Northern Water field tour event, Summer 2023.</div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Text - left video -->
  <section class="image-text img-left">
    <div class="container">
      <div class="row gx-5 gy-4">
        <div class="col-12 col-md-5 align-self-center">
          <div class="heading-wrap">
            <h2>Delivering Water to More Than 1 Million People</h2>
          </div>
          <p>
            The Colorado-Big Thompson Project collects, stores and delivers more than 200,000 acre-feet of supplemental
            water each year. Melting snowpack in the Colorado River headwaters on the West Slope is diverted through a
            tunnel beneath the Continental Divide to approximately 1,064,000 million residents and 615,000 acres of
            irrigated farmland in Northeastern Colorado. Together with the U.S. Bureau of Reclamation, we jointly
            operate, maintain and fund this federally-owned project.
          </p>

        </div>
        <div class="col-12 col-md-7">
          <div class="img-wrap">
            <div class="img-wrap">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/D0UnqGm_miA?si=wD2AQ7VwCXP9mzjV"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              <!-- <video width="640" height="360" controls>
                  <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Image Text - Left video Ends-->
  <script src="../../assets/dist/main.min.js"></script>
</body>

</html>