<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Links Listing Component</title>
    <link rel="stylesheet" href="../../assets/dist/main.css" />
  </head>
  <body>
    <section class="section-wrapper bg-off-white">
      <div class="container links-listing-wrap">
        <div class="row link-heading-row">
          <div class="col-12">
            <h3>Potential Street-Strip Plants in our Conservation Gardens</h3>
          </div>
        </div>
        <div class="row links-row">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="links-listing-wrap">
              <ul>
                <li>
                  <h6>Perennials</h6>
                </li>
                <li>
                  <a href="#" class="tertiary-btn">
                    Mojave Sage
                    <span class="card-cta-icon">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.95703 14.0497L14.049 7.95769"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.95703 7.95764H14.049V14.0496"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="tertiary-btn">
                    Native Gayfeather

                    <span class="card-cta-icon">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.95703 14.0497L14.049 7.95769"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.95703 7.95764H14.049V14.0496"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="tertiary-btn">
                    Sonoran Sunset Hyssop
                    <span class="card-cta-icon">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.95703 14.0497L14.049 7.95769"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.95703 7.95764H14.049V14.0496"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="tertiary-btn">
                    Tennessee Purple Coneflower
                    <span class="card-cta-icon">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.95703 14.0497L14.049 7.95769"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.95703 7.95764H14.049V14.0496"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="links-listing-wrap">
              <ul>
                <li>
                  <h6>Evergreens</h6>
                </li>
                <li>
                  <a href="#" class="tertiary-btn">
                    Manzanita varieties
                    <span class="card-cta-icon">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.95703 14.0497L14.049 7.95769"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.95703 7.95764H14.049V14.0496"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="tertiary-btn">
                    Red Yucca
                    <span class="card-cta-icon">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.95703 14.0497L14.049 7.95769"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.95703 7.95764H14.049V14.0496"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="links-listing-wrap">
              <ul>
                <li>
                  <h6>Ornamental Grasses</h6>
                </li>
                <li>
                  <a href="#" class="tertiary-btn">
                    Boulder Blue Fescue
                    <span class="card-cta-icon">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.95703 14.0497L14.049 7.95769"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.95703 7.95764H14.049V14.0496"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="tertiary-btn">
                    Korean Feather Reed
                    <span class="card-cta-icon">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.95703 14.0497L14.049 7.95769"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.95703 7.95764H14.049V14.0496"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="tertiary-btn">
                    Muhly Grass
                    <span class="card-cta-icon">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.95703 14.0497L14.049 7.95769"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.95703 7.95764H14.049V14.0496"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="tertiary-btn">
                    Switchgrass
                    <span class="card-cta-icon">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.95703 14.0497L14.049 7.95769"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.95703 7.95764H14.049V14.0496"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="links-listing-wrap">
              <ul>
                <li>
                  <h6>Groundcovers</h6>
                </li>
                <li>
                  <a href="#" class="tertiary-btn">
                    Crystal River Veronica
                    <span class="card-cta-icon">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.95703 14.0497L14.049 7.95769"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.95703 7.95764H14.049V14.0496"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="tertiary-btn">
                    Dwarf Pussytoes
                    <span class="card-cta-icon">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.95703 14.0497L14.049 7.95769"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.95703 7.95764H14.049V14.0496"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="tertiary-btn">
                    Partridge Feather
                    <span class="card-cta-icon">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.95703 14.0497L14.049 7.95769"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.95703 7.95764H14.049V14.0496"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="tertiary-btn">
                    Sedum varieties
                    <span class="card-cta-icon">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.95703 14.0497L14.049 7.95769"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.95703 7.95764H14.049V14.0496"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="links-listing-wrap">
              <ul>
                <li>
                  <h6>Small Shrubs</h6>
                </li>
                <li>
                  <a href="#" class="tertiary-btn">
                    Blue Mist Spirea
                    <span class="card-cta-icon">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.95703 14.0497L14.049 7.95769"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.95703 7.95764H14.049V14.0496"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="tertiary-btn">
                    Leadplant – Amorpha
                    <span class="card-cta-icon">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.95703 14.0497L14.049 7.95769"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.95703 7.95764H14.049V14.0496"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="tertiary-btn">
                    Ninebark varieties
                    <span class="card-cta-icon">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.95703 14.0497L14.049 7.95769"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.95703 7.95764H14.049V14.0496"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="tertiary-btn">
                    Pawnee Buttes Sandcherry
                    <span class="card-cta-icon">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.95703 14.0497L14.049 7.95769"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.95703 7.95764H14.049V14.0496"
                          stroke="white"
                          stroke-width="1.23077"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="links-listing-wrap">
              <ul>
                <li>
                  <h6>links-listing-wrap</h6>
                </li>
                <li>
                  Check out recommended trees on the
                  <a href="">Colorado Tree Coalition</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="../../assets/dist/main.min.js"></script>
  </body>
</html>
