<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stats Component</title>
  <link rel="stylesheet" href="../../assets/dist/main.css">
</head>
<body>
<section class="section-wrapper stats-section home-page-component bg-off-white" aria-labelledby="stats-title">
  <div class="container-fluid stats-image-container">
    <div class="row">
      <div class="col-12">
        <div class="stats-image-wrapper">
          <img src="../../assets/images/stats-hero-image.jpg" alt="Stats Hero Image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <div class="container stats-container counter-count-container">
    <div class="stats-header">
      <h2 class="stats-title" >Water. Environment. Development.</h2>
      <p class="stats-desc body-lg">Collecting and delivering water, safeguarding supplies, environmental stewardship and planning for a water future across Northeastern Colorado.</p>
    </div>
    <div class="stats-cards-row" role="list">
      <div class="stats-card" >
        <h3 class="stats-card-value"><span class="counter-count" data-count="220000">220,000</span> <span class="stats-card-unit">Acre-Feet</span></h3>
        <div class="stats-card-desc label">Average water delivery each year via the Colorado-Big Thompson Project</div>
      </div>
      <div class="stats-card" >
        <h3 class="stats-card-value"><span class="counter-count" data-count="8">8</span> <span class="stats-card-unit">Miles</span></h3>
        <div class="stats-card-desc label">of Poudre River Habitat restored</div>
      </div>
      <div class="stats-card" >
        <h3 class="stats-card-value"><span class="counter-count" data-count="90000">90000</span> <span class="stats-card-unit">Acre-Feet</span></h3>
        <div class="stats-card-desc label">Of new storage from Chimney Hollow Reservoir Project</div>
      </div>
      <div class="stats-card" >
        <h3 class="stats-card-value"><span class="counter-count" data-count="225">225</span>m<span class="stats-card-unit">m</span></h3>
        <div class="stats-card-desc label">Hydropower generated yearly</div>
      </div>
    </div>
  </div>
</section>

<!-- stats-section-2 -->
<section class="section-wrapper stats-section flex-cards-section bg-off-white" aria-labelledby="stats-title-2">
  <div class="container stats-container counter-count-container">
    <div class="stats-cards-row" role="list">
      <div class="stats-card" >
        <h2 class="stats-card-value"><span class="counter-count" data-count="12">12</span> <span class="stats-card-unit">Reservoirs</span></h2>
        <div class="stats-card-desc label">Water Storage</div>
      </div>
      <div class="stats-card" >
        <h2 class="stats-card-value"><span class="counter-count" data-count="35">35</span> <span class="stats-card-unit">Miles</span></h2>
        <div class="stats-card-desc label">of Tunnels</div>
      </div>
      <div class="stats-card" >
        <h2 class="stats-card-value"><span class="counter-count" data-count="95">95</span> <span class="stats-card-unit">Miles</span></h2>
        <div class="stats-card-desc label">of canals</div>
      </div>
      <div class="stats-card" >
        <h2 class="stats-card-value"><span class="counter-count" data-count="8">8</span> <span class="stats-card-unit">Plants</span></h2>
        <div class="stats-card-desc label">Hydroelectric power</div>
      </div>
      <div class="stats-card" >
        <h2 class="stats-card-value"><span class="counter-count" data-count="700">700</span> <span class="stats-card-unit">Miles</span></h2>
        <div class="stats-card-desc label">of Transmission Lines</div>
      </div>
    </div>
  </div>
</section>

  <script src="../../assets/dist/main.min.js"></script>
</body>
</html>