<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grand Lake Clarity Table</title>
  <link rel="stylesheet" href="../../assets/dist/main.css">
</head>
<body>

  <!-- Table Section -->
  <section class="section-wrapper bg-half-white">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="table-heading-wrap">
            <h2 id="adaptive-management-heading">Adaptive Management Results</h2>
          </div>
        </div>
        <div class="col-12">
          <div class="table-wrap">
            <div class="table-responsive" role="region" aria-labelledby="adaptive-management-heading" aria-describedby="adaptive-management-caption" tabindex="0" >
              <table class="table rounded-table">
                <caption id="adaptive-management-caption" class="sr-only">Adaptive Management Results from 2020 to 2024</caption>
                <thead>
                  <tr>
                    <th scope="col">Clarity Metric</th>
                    <th scope="col">Goals/Triggers</th>
                    <th scope="col">2020</th>
                    <th scope="col">2021</th>
                    <th scope="col">2022</th>
                    <th scope="col">2023</th>
                    <th scope="col">2024</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Grand Lake Clarity Running Average July 1 to Sept. 11 (m)</th>
                    <td>3.8</td>
                    <td>3 m</td>
                    <td>3.6 m</td>
                    <td>3.2 m</td>
                    <td>4.2 m</td>
                    <td>4.5 m</td>
                  </tr>
                  <tr>
                    <th scope="row">Grand Lake Clarity Running Minimum July 1 to Sept. 11 (m)</th>
                    <td>2.5</td>
                    <td>2.4 m</td>
                    <td>2.7 m</td>
                    <td>2.6 m</td>
                    <td>3 m</td>
                    <td>3.7 m</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="../../assets/dist/main.min.js"></script>
</body>
</html>