<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Only Component</title>
    <link rel="stylesheet" href="../../assets/dist/main.css" />
  </head>
  <body>
    <!-- Text Only Component v1 starts here -->
    <section class="bg-off-white text-only-container-v1-full section-wrapper">
      <div class="container text-only-container bg-black">
        <div class="row text-only-content-v1-wrapper">
          <div
            class="col-12 col-lg-6 text-only-content-v1-left"
            role="region"
            aria-label="Water Storage Information"
          >
            <h2 class="text-only-content-v1-title">
              Reservoirs for Water Storage and Fun
            </h2>
          </div>
          <div class="col-12 col-lg-6 text-only-content-v1-right">
            <div class="text-only-content-v1-text">
              <p>
                Reservoirs and lakes on both the West and East slopes play key
                roles in Colorado-Big Thompson Project operations. Some
                reservoirs are strictly for storage, while others are vital to
                hydropower operations. The project comprises 11 reservoirs and a
                natural lake, many of which offer recreational opportunities.
              </p>
            </div>
            <div class="text-only-content-v1-button-wrapper">
              <!-- Secondary Button starts here-->
              <a
                href="#"
                class="btn secondary-btn d-inline-flex align-items-center liquid-animation"
                role="button"
                aria-label="Water Provider Login"
                tabindex="0"
                data-button-type="secondary"
              >
                <div
                  class="secondary-btn-wrap norm liquid-animation-items liquid-animation-bg"
                >
                  <span class="btn-text">Water Provider Login</span>
                  <span
                    class="btn-icon liquid-animation-items liquid-animation-circle move"
                    aria-hidden="true"
                  >
                    <span class="circle-animation">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        role="img"
                        aria-label="Right arrow"
                      >
                        <path
                          d="M5 12H19"
                          stroke="#111111"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M12 5L19 12L12 19"
                          stroke="#111111"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      aria-hidden="true"
                    >
                      <defs>
                        <filter id="goo-secondary">
                          <feGaussianBlur
                            in="SourceGraphic"
                            stdDeviation="10"
                            result="blur"
                          />
                          <feColorMatrix
                            in="blur"
                            mode="matrix"
                            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                            result="goo"
                          />
                          <feBlend in="SourceGraphic" in2="goo" />
                        </filter>
                      </defs>
                    </svg>
                  </span>
                </div>
              </a>
              <!-- Secondary Button ends here-->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Text Only Component v1 ends here -->
    <!-- Text Only Component v2 starts here -->
    <section class="bg-off-white text-only-container-v1-full section-wrapper">
      <div class="container text-only-container bg-blue">
        <div class="row text-only-content-v1-wrapper">
          <div
            class="col-12 col-lg-6 text-only-content-v1-left"
            role="region"
            aria-label="Water Storage Information"
          >
            <h2 class="text-only-content-v1-title">
              Governing Board of Directors
            </h2>
          </div>
          <div class="col-12 col-lg-6 text-only-content-v1-right">
            <div class="text-only-content-v1-text">
              <p>
                Northern Water and the Municipal Subdistrict operate through the leadership of a 13-member Board of Directors that establish policy and strategic direction. Directors from the eight counties within Northern Water’s boundaries are appointed to four-year terms by district court judges. The Municipal Subdistrict Board elects its own officers, but its directors are the same as the Northern Water Board.
              </p>
            </div>
            <div class="text-only-content-v1-button-wrapper">
              <!-- Secondary Button starts here-->
              <a
                href="#"
                class="btn secondary-btn d-inline-flex align-items-center liquid-animation"
                role="button"
                aria-label="Water Provider Login"
                tabindex="0"
                data-button-type="secondary"
              >
                <div
                  class="secondary-btn-wrap norm liquid-animation-items liquid-animation-bg"
                >
                  <span class="btn-text">Learn More</span>
                  <span
                    class="btn-icon liquid-animation-items liquid-animation-circle move"
                    aria-hidden="true"
                  >
                    <span class="circle-animation">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        role="img"
                        aria-label="Right arrow"
                      >
                        <path
                          d="M5 12H19"
                          stroke="#111111"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M12 5L19 12L12 19"
                          stroke="#111111"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      aria-hidden="true"
                    >
                      <defs>
                        <filter id="goo-secondary">
                          <feGaussianBlur
                            in="SourceGraphic"
                            stdDeviation="10"
                            result="blur"
                          />
                          <feColorMatrix
                            in="blur"
                            mode="matrix"
                            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                            result="goo"
                          />
                          <feBlend in="SourceGraphic" in2="goo" />
                        </filter>
                      </defs>
                    </svg>
                  </span>
                </div>
              </a>
              <!-- Secondary Button ends here-->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Text Only Component v2 ends here -->
    <script src="../../assets/dist/main.min.js"></script>
  </body>
</html>
