<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Only Component</title>
    <link rel="stylesheet" href="../../assets/dist/main.css" />
  </head>
  <body>
    <!-- Text Only Component v1 starts here -->
    <section class="section-wrapper two-col-text">
      <div class="container bg-black rounded-4 p-4 p-lg-5">
          <div class="row">
              <div class="col-12 col-md-6 border-right">
                  <h2>A Growing Organization</h2>
              </div>
              <div class="col-12 col-md-6 content-wrap">
                  <p>
                      Northern Water is the largest water provider in Northeastern Colorado. Under the umbrella of our
                      13-member board, Northern Water is led by a general manager and four division directors. The
                      division directors oversee their respective divisions' operations and supervise department
                      managers with employees ranging from support personnel and engineers, to operation, maintenance
                      and administrative staff.
                  </p>
                  <!-- Secondary Button starts here-->
                  <a href="#" class="btn secondary-btn d-inline-flex align-items-center liquid-animation"
                      role="button" aria-label="Water Provider Login" tabindex="0" data-button-type="secondary">
                      <div class="secondary-btn-wrap norm liquid-animation-items liquid-animation-bg">
                          <span class="btn-text">Organizational Chart </span>
                          <span class="btn-icon liquid-animation-items liquid-animation-circle move"
                              aria-hidden="true">
                              <span class="circle-animation">
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                      xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Right arrow">
                                      <path d="M5 12H19" stroke="#111111" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                      <path d="M12 5L19 12L12 19" stroke="#111111" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round" />
                                  </svg>
                              </span>
                              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" aria-hidden="true">
                                  <defs>
                                      <filter id="goo-secondary">
                                          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                          <feColorMatrix in="blur" mode="matrix"
                                              values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                                          <feBlend in="SourceGraphic" in2="goo" />
                                      </filter>
                                  </defs>
                              </svg>
                          </span>
                      </div>
                  </a>
                  <!-- Secondary Button ends here-->
              </div>
          </div>
      </div>
      </div>
      </div>
    </section>
    <!-- Text Only Component v1 ends here -->
    <!-- Text Only Component v2 starts here -->
    <section class="section-wrapper two-col-text">
      <div class="container bg-blue rounded-4 p-4 p-lg-5">
          <div class="row">
              <div class="col-12 col-md-6 border-right">
                  <h2>A Growing Organization</h2>
              </div>
              <div class="col-12 col-md-6 content-wrap">
                  <p>
                      Northern Water is the largest water provider in Northeastern Colorado. Under the umbrella of our
                      13-member board, Northern Water is led by a general manager and four division directors. The
                      division directors oversee their respective divisions' operations and supervise department
                      managers with employees ranging from support personnel and engineers, to operation, maintenance
                      and administrative staff.
                  </p>
                  <!-- Secondary Button starts here-->
                  <a href="#" class="btn secondary-btn d-inline-flex align-items-center liquid-animation"
                      role="button" aria-label="Water Provider Login" tabindex="0" data-button-type="secondary">
                      <div class="secondary-btn-wrap norm liquid-animation-items liquid-animation-bg">
                          <span class="btn-text">Organizational Chart </span>
                          <span class="btn-icon liquid-animation-items liquid-animation-circle move"
                              aria-hidden="true">
                              <span class="circle-animation">
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                      xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Right arrow">
                                      <path d="M5 12H19" stroke="#111111" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                      <path d="M12 5L19 12L12 19" stroke="#111111" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round" />
                                  </svg>
                              </span>
                              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" aria-hidden="true">
                                  <defs>
                                      <filter id="goo-secondary">
                                          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                          <feColorMatrix in="blur" mode="matrix"
                                              values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                                          <feBlend in="SourceGraphic" in2="goo" />
                                      </filter>
                                  </defs>
                              </svg>
                          </span>
                      </div>
                  </a>
                  <!-- Secondary Button ends here-->
              </div>
          </div>
      </div>
      </div>
      </div>
    </section>
    <!-- Text Only Component v2 ends here -->
    <script src="../../assets/dist/main.min.js"></script>
  </body>
</html>
