<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Two columns component</title>
    <link rel="stylesheet" href="../../assets/dist/main.css" />
  </head>
  <body>
    <section class="section-wrapper two-columns-component bg-off-white">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <h3>Class B Contracts</h3>
            <p>
              Class B contracts consist of temporary use permits, original Class
              B contracts and Section 131 contracts for municipal purposes.
              Class B contracts were allotted to municipalities from 1938 to
              1993. 
            </p>
            <h6>Section 131 Contracts </h6>
            <p>
              Section 131 contracts are essentially a continuously renewable
              one-year contract. If a municipality pays its annual assessments,
              Northern Water will continue to deliver the water. If a
              municipality fails to pay, the contract is terminated and the
              municipality has no further obligation. 
            </p>
            <p>
              Northern Water allows a municipality to approve its Section 131
              contract by whatever means the municipality believes is necessary
              to ensure the contract is legally binding on the municipality,
              either by a municipal ordinance or a resolution.
            </p>
            <h6>Temporary Use Permits</h6>
            <p>
              All Temporary Use permits accumulated by a municipality each year
              must be converted to Section 131 contracts by March 1 of the
              following year. Please see the <a
                href="https://www.northernwater.org/getmedia/c63fe580-ad79-497d-91aa-3c3d7875fb59/Policy-Regarding-Conversion-of-Temporary-Use-Permits-to-Section-131-Contract.pdf"
                target="_blank"
                rel="noopener noreferrer"
                >Policy Regarding Conversion of Temporary Use Permits to Section
                131 Contract</a
              >. 
            </p>
            <h3>Class C Contracts</h3>
            <p>
              Under a Class C contract an allottee agrees that any water
              Northern Water allots shall be for domestic, irrigation,
              multipurpose or industrial use within or through facilities or
              upon lands owned, operated or served by the Class C allottee, and
              located within Northern Water boundaries.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <h4>Class B & Class C Limits</h4>
            <p>
              Northern Water sets limits on how much water Class B and Class C
              allottees may acquire. Please see the <a
                href="https://www.northernwater.org/getmedia/5802bc35-cb2b-4006-8579-d4e66174f241/Interim-Guidelines-on-Limitations-on-Ownership-of-C-BT-Allotment-Contracts-for-Domestic-or-Municipal-Purposes.pdf"
                target="_blank"
                rel="noopener noreferrer"
                >Interim Guidelines on Limitations on Ownership of C-BT
                Allotment Contracts for Domestic or Municipal Purposes</a
              >.
            </p>
            <h4>Fixed Quota Program</h4>
            <p>
              In 1993 the Northern Water Board adopted a policy allowing
              allottees the option of a guaranteed 70 percent quota each year
              through the Fixed Quota Program. An allottee must apply and
              receive board approval to participate. Once approved, a
              participating allottee must remain in the program for 10 years and
              may renew a fixed quota. However, if not renewed after 10 years a
              fixed quota expires and the allotment contract reverts to a
              variable quota.
            </p>
            <h6>Additional Resources</h6>
            <ul>
              <li>
                <a
                  href="https://www.northernwater.org/getmedia/1cae3b90-f011-43bd-902b-f50f8e9389d2/Rule-Regarding-Election-by-Water-Allotment-Contract-Allottees-to-Receive-Delivery-of-C-BT-Water-Under-a-Fixed-Quota.pdf"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Rule Regarding Election by Water Allotment Contract Allottees
                  to Receive Delivery of C-BT Water Under a Fixed Quota
                </a>
              </li>
              <li>
                <a
                  href="https://www.northernwater.org/getmedia/da3f9d74-63e4-48a1-9ee6-d7b4e8f0482a/Drought-Emergency-Policy-and-Rule-Regarding-Election-by-Water-Allotment-Contract-Allottees-to-Receive-Delivery-of-C-BT-Water-Under-a-Fixed-Quota.pdf"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Drought Emergency Policy and Rule Regarding Election by Water
                  Allotment Contract Allottees to Receive Delivery of C-BT
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
