<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two Column Text and Image</title>
    <link rel="stylesheet" href="../../assets/dist/main.css">
</head>

<body>
    <main>
        <!-- Two Column Text and Image -->
        <section class="section-wrapper two-col-text-image-section bg-off-white">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h2 class="two-col-text-image-section_title">Serving Eight Northeastern Colorado Counties</h2>
                        <div class="two-col-text-image-image-wrap">
                            <img src="../../assets/images/carter-lake.jpg"
                                alt="Carter Lake - first water flowing into reservoir"
                                class="two-col-text-image__img img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="container two-col-text-image-container">
                <div class="row two-col-text-image-row ">
                    <div class="col-12 col-lg-6">
                        <div class="two-col-text-image-card">
                            <h4 class="two-col-text-image-card-title">Growing <span>Service Area</span></h4>
                            <div class="two-col-text-image-card-desc">
                                <p>With growth continuing in Northeastern Colorado, we now serve more than 1 million
                                    residents within Northern Water's service area. This area encompasses 1.6 million
                                    acres in portions of eight counties:</p>
                                <ul class="two-col-text-image-card-counties-list">
                                    <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 16 16" fill="none">
                                            <path
                                                d="M13.3337 6.66683C13.3337 9.9955 9.64099 13.4622 8.40099 14.5328C8.28548 14.6197 8.14486 14.6667 8.00033 14.6667C7.85579 14.6667 7.71518 14.6197 7.59966 14.5328C6.35966 13.4622 2.66699 9.9955 2.66699 6.66683C2.66699 5.25234 3.2289 3.89579 4.22909 2.89559C5.22928 1.8954 6.58584 1.3335 8.00033 1.3335C9.41481 1.3335 10.7714 1.8954 11.7716 2.89559C12.7718 3.89579 13.3337 5.25234 13.3337 6.66683Z"
                                                fill="white" />
                                            <path
                                                d="M8 8.6665C9.10457 8.6665 10 7.77107 10 6.6665C10 5.56193 9.10457 4.6665 8 4.6665C6.89543 4.6665 6 5.56193 6 6.6665C6 7.77107 6.89543 8.6665 8 8.6665Z"
                                                fill="#111111" />
                                        </svg>Boulder</li>
                                    <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 16 16" fill="none">
                                            <path
                                                d="M13.3337 6.66683C13.3337 9.9955 9.64099 13.4622 8.40099 14.5328C8.28548 14.6197 8.14486 14.6667 8.00033 14.6667C7.85579 14.6667 7.71518 14.6197 7.59966 14.5328C6.35966 13.4622 2.66699 9.9955 2.66699 6.66683C2.66699 5.25234 3.2289 3.89579 4.22909 2.89559C5.22928 1.8954 6.58584 1.3335 8.00033 1.3335C9.41481 1.3335 10.7714 1.8954 11.7716 2.89559C12.7718 3.89579 13.3337 5.25234 13.3337 6.66683Z"
                                                fill="white" />
                                            <path
                                                d="M8 8.6665C9.10457 8.6665 10 7.77107 10 6.6665C10 5.56193 9.10457 4.6665 8 4.6665C6.89543 4.6665 6 5.56193 6 6.6665C6 7.77107 6.89543 8.6665 8 8.6665Z"
                                                fill="#111111" />
                                        </svg>Morgan</li>
                                    <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 16 16" fill="none">
                                            <path
                                                d="M13.3337 6.66683C13.3337 9.9955 9.64099 13.4622 8.40099 14.5328C8.28548 14.6197 8.14486 14.6667 8.00033 14.6667C7.85579 14.6667 7.71518 14.6197 7.59966 14.5328C6.35966 13.4622 2.66699 9.9955 2.66699 6.66683C2.66699 5.25234 3.2289 3.89579 4.22909 2.89559C5.22928 1.8954 6.58584 1.3335 8.00033 1.3335C9.41481 1.3335 10.7714 1.8954 11.7716 2.89559C12.7718 3.89579 13.3337 5.25234 13.3337 6.66683Z"
                                                fill="white" />
                                            <path
                                                d="M8 8.6665C9.10457 8.6665 10 7.77107 10 6.6665C10 5.56193 9.10457 4.6665 8 4.6665C6.89543 4.6665 6 5.56193 6 6.6665C6 7.77107 6.89543 8.6665 8 8.6665Z"
                                                fill="#111111" />
                                        </svg>Broomfield</li>
                                    <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 16 16" fill="none">
                                            <path
                                                d="M13.3337 6.66683C13.3337 9.9955 9.64099 13.4622 8.40099 14.5328C8.28548 14.6197 8.14486 14.6667 8.00033 14.6667C7.85579 14.6667 7.71518 14.6197 7.59966 14.5328C6.35966 13.4622 2.66699 9.9955 2.66699 6.66683C2.66699 5.25234 3.2289 3.89579 4.22909 2.89559C5.22928 1.8954 6.58584 1.3335 8.00033 1.3335C9.41481 1.3335 10.7714 1.8954 11.7716 2.89559C12.7718 3.89579 13.3337 5.25234 13.3337 6.66683Z"
                                                fill="white" />
                                            <path
                                                d="M8 8.6665C9.10457 8.6665 10 7.77107 10 6.6665C10 5.56193 9.10457 4.6665 8 4.6665C6.89543 4.6665 6 5.56193 6 6.6665C6 7.77107 6.89543 8.6665 8 8.6665Z"
                                                fill="#111111" />
                                        </svg>Sedgwick</li>
                                    <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 16 16" fill="none">
                                            <path
                                                d="M13.3337 6.66683C13.3337 9.9955 9.64099 13.4622 8.40099 14.5328C8.28548 14.6197 8.14486 14.6667 8.00033 14.6667C7.85579 14.6667 7.71518 14.6197 7.59966 14.5328C6.35966 13.4622 2.66699 9.9955 2.66699 6.66683C2.66699 5.25234 3.2289 3.89579 4.22909 2.89559C5.22928 1.8954 6.58584 1.3335 8.00033 1.3335C9.41481 1.3335 10.7714 1.8954 11.7716 2.89559C12.7718 3.89579 13.3337 5.25234 13.3337 6.66683Z"
                                                fill="white" />
                                            <path
                                                d="M8 8.6665C9.10457 8.6665 10 7.77107 10 6.6665C10 5.56193 9.10457 4.6665 8 4.6665C6.89543 4.6665 6 5.56193 6 6.6665C6 7.77107 6.89543 8.6665 8 8.6665Z"
                                                fill="#111111" />
                                        </svg>Larimer</li>
                                    <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 16 16" fill="none">
                                            <path
                                                d="M13.3337 6.66683C13.3337 9.9955 9.64099 13.4622 8.40099 14.5328C8.28548 14.6197 8.14486 14.6667 8.00033 14.6667C7.85579 14.6667 7.71518 14.6197 7.59966 14.5328C6.35966 13.4622 2.66699 9.9955 2.66699 6.66683C2.66699 5.25234 3.2289 3.89579 4.22909 2.89559C5.22928 1.8954 6.58584 1.3335 8.00033 1.3335C9.41481 1.3335 10.7714 1.8954 11.7716 2.89559C12.7718 3.89579 13.3337 5.25234 13.3337 6.66683Z"
                                                fill="white" />
                                            <path
                                                d="M8 8.6665C9.10457 8.6665 10 7.77107 10 6.6665C10 5.56193 9.10457 4.6665 8 4.6665C6.89543 4.6665 6 5.56193 6 6.6665C6 7.77107 6.89543 8.6665 8 8.6665Z"
                                                fill="#111111" />
                                        </svg>Washington</li>
                                    <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 16 16" fill="none">
                                            <path
                                                d="M13.3337 6.66683C13.3337 9.9955 9.64099 13.4622 8.40099 14.5328C8.28548 14.6197 8.14486 14.6667 8.00033 14.6667C7.85579 14.6667 7.71518 14.6197 7.59966 14.5328C6.35966 13.4622 2.66699 9.9955 2.66699 6.66683C2.66699 5.25234 3.2289 3.89579 4.22909 2.89559C5.22928 1.8954 6.58584 1.3335 8.00033 1.3335C9.41481 1.3335 10.7714 1.8954 11.7716 2.89559C12.7718 3.89579 13.3337 5.25234 13.3337 6.66683Z"
                                                fill="white" />
                                            <path
                                                d="M8 8.6665C9.10457 8.6665 10 7.77107 10 6.6665C10 5.56193 9.10457 4.6665 8 4.6665C6.89543 4.6665 6 5.56193 6 6.6665C6 7.77107 6.89543 8.6665 8 8.6665Z"
                                                fill="#111111" />
                                        </svg>Logan</li>
                                    <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 16 16" fill="none">
                                            <path
                                                d="M13.3337 6.66683C13.3337 9.9955 9.64099 13.4622 8.40099 14.5328C8.28548 14.6197 8.14486 14.6667 8.00033 14.6667C7.85579 14.6667 7.71518 14.6197 7.59966 14.5328C6.35966 13.4622 2.66699 9.9955 2.66699 6.66683C2.66699 5.25234 3.2289 3.89579 4.22909 2.89559C5.22928 1.8954 6.58584 1.3335 8.00033 1.3335C9.41481 1.3335 10.7714 1.8954 11.7716 2.89559C12.7718 3.89579 13.3337 5.25234 13.3337 6.66683Z"
                                                fill="white" />
                                            <path
                                                d="M8 8.6665C9.10457 8.6665 10 7.77107 10 6.6665C10 5.56193 9.10457 4.6665 8 4.6665C6.89543 4.6665 6 5.56193 6 6.6665C6 7.77107 6.89543 8.6665 8 8.6665Z"
                                                fill="#111111" />
                                        </svg>Weld</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="two-col-text-image-card">
                            <p>Northern Water provides Cities, towns, rural-domestic water districts and industries with
                                year-round water deliveries. Furthermore, during the primary growing season between
                                April and October.</p>
                            <div class="two-col-text-image__companies">
                                <div class="two-col-text-image-company-details">
                                    <label class="two-col-text-image-company-details-label">delivering water to</label>
                                    <h3 class="two-col-text-image-company-details-value">120+</h3>
                                    <h4 class="two-col-text-image-company-details-desc">Companies</h4>
                                </div>
                                <div class="two-col-text-image-company-details-info">We serve over 120 ditch, reservoir and
                                    irrigation companies serving thousands of farms and more than 500,000 acres.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Two Column Text and Image -->
        <section class="section-wrapper two-col-text-image-section home-page-component bg-off-white">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h2 class="two-col-text-image-section_title">Protecting Water, Preserving Nature.</h2>
                        <div class="two-col-text-image-image-wrap">
                            <img src="../../assets/images/Protecting Water.jpg"
                                alt="Protecting Water, Preserving Nature"
                                class="two-col-text-image__img img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="container two-col-text-image-container">
                <div class="row two-col-text-image-row">
                    <div class="col-12 col-lg-6">
                        <div class="two-col-text-image-card">
                            <h4 class="two-col-text-image-card-title">Environmental Stewards <span>Since 1937.</span></h4>
                            <div class="two-col-text-image-card-desc">
                                <p>Join us for upcoming public tours and events to explore how Northern Water is shaping the future of water in Northern Colorado. Visit our campus, meet the team, and see our impact firsthand.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="two-col-text-image-card">
                            <h4 class="two-col-text-image-card-title-green">Our Proven Commitment</h4>
                            <ul class="white-icon-lst">
                                <li>8 miles of fish habitat restored</li>
                                <li>225M kWh clean hydropower annually</li>
                                <li>100% EPA water quality compliance</li>
                                <li>1,200 acres of riparian ecosystems enhanced</li>
                            </ul>
                            <a href="#" class="btn secondary-btn d-inline-flex align-items-center liquid-animation" role="button"
                            aria-label="See Our Stewardship in Action" tabindex="0" data-button-type="secondary">
                            <div class="secondary-btn-wrap norm liquid-animation-items liquid-animation-bg">
                              <span class="btn-text">See Our Stewardship in Action</span>
                              <span class="btn-icon liquid-animation-items liquid-animation-circle move" aria-hidden="true">
                                <span class="circle-animation">
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" role="img"
                                    aria-label="Right arrow">
                                    <path d="M5 12H19" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M12 5L19 12L12 19" stroke="#111111" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round" />
                                  </svg>
                                </span>
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" aria-hidden="true">
                                  <defs>
                                    <filter id="goo-filter-{{UNIQUE_ID}}">
                                      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                                        result="goo" />
                                      <feBlend in="SourceGraphic" in2="goo" />
                                    </filter>
                                  </defs>
                                </svg>
                              </span>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="../../assets/js/components/two-col-text-image.js"></script>
</body>

</html>