.container-404 {
  padding-left: rem.convert(8px);
  padding-right: rem.convert(8px);
  overflow-x: hidden;
  background-color: var(--off-white);
  .content-404 {
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0 auto;
    background-color: var(--off-white);
    @include media-breakpoint-down(lg) {
      flex-direction: column-reverse;
    }
    .text-404 {
      padding: rem.convert(80px) rem.convert(48px) rem.convert(80px) rem.convert(80px);
      @include media-breakpoint-down(xl) {
        padding-left: rem.convert(48px);
        padding-right: rem.convert(48px);
      }
      @include media-breakpoint-down(lg) {
        padding: rem.convert(64px) rem.convert(16px);
        text-align: center;
      }
      @include media-breakpoint-down(sm) {
        text-align: left;
        padding: rem.convert(64px) rem.convert(16px);
      }
      .icon-404 {
        padding-bottom: rem.convert(24px);
        width: fit-content;
        margin: 0 auto 0 0;
        @include media-breakpoint-between(sm, lg) {
          margin: 0 auto;
        }
        @include media-breakpoint-down(sm) {
          margin-right: auto;
          margin-left: 0;
          max-width: rem.convert(327px);
          padding-bottom: rem.convert(16px);
        }
        img {
          @include media-breakpoint-down(sm) {
            max-width: rem.convert(235px);
          }
        }
      }
      h5 {
        display: flex;
        flex-direction: column;
        @include convert-percent(line-height, 24px, 140);
        @include convert-percent(letter-spacing, 24px, -2);
      }
      .button-404-wrapper {
        padding-top: rem.convert(24px);
        @include media-breakpoint-down(sm) {
          padding-top: rem.convert(24px);
        }
      }
    }
    .animation-404 {
      .image-wrapper {
        max-width: rem.convert(493px);
        width: clamp(22.4375rem, 19.4886rem + 12.5822vw, 30.8125rem);
        height: clamp(19.3125rem, 11.346rem + 33.9906vw, 41.9375rem);
        max-height: rem.convert(671px);
        // aspect-ratio: 493 / 671; // Maintain original image aspect ratio
        margin-top: rem.convert(8px);
        margin-bottom: rem.convert(8px);
        border-radius: rem.convert(16px);
        overflow: hidden;
        margin-left: auto;
        @include media-breakpoint-down(lg) {
          margin-right: auto;
        }
        // This is the fix: use a padding-top to enforce aspect ratio
        .image-inner {
          position: relative;
          width: 100%;
          aspect-ratio: 493 / 671; // Ensures height scales with width
          padding-top: percentage(671 / 493);
        }
        img {
          border-radius: rem.convert(16px);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: opacity 3s ease;
          object-position: 11% center;
          @include media-breakpoint-down(sm) {
            top: -20%;
          }
        }
        .image1 {
          animation: fadeOut 3s ease-in-out 1 forwards;
          animation-delay: 1s;
        }

        .image2 {
          opacity: 0;
          animation: fadeIn 3s ease-in-out 1 forwards;
          animation-delay: 1s;
        }
      }

      @keyframes fadeOut {
        to {
          opacity: 0;
        }
      }

      @keyframes fadeIn {
        to {
          opacity: 1;
        }
      }
    }
  }
}
