.black-green-cards-container-full {
  width: 100%;
  background-color: var(--off-white);
  .black-green-cards-container {
    .black-green-cards-wrapper {
      border-radius: rem.convert(16px);
      background-color: var(--green);
      margin: 0;
      > div:nth-child(1) {
        background-color: var(--black);
        color: var(--white);
        padding: rem.convert(40px);
        border-radius: rem.convert(16px);
        margin: auto;
        @include media-breakpoint-down(lg) {
          padding: rem.convert(24px);
        }
        h2 {
          text-transform: capitalize;
          padding-bottom: rem.convert(16px);
          margin-bottom: rem.convert(24px);
          color: var(--white);
          border-bottom: rem.convert(1px) solid rgba(var(--white-rgb), 0.6);
        }
        p {
          padding-bottom: rem.convert(24px);
          color: var(--white);
        }
        h5 {
          margin: 0;
          padding-bottom: rem.convert(24px);
          color: var(--white);
          &:last-child {
            padding-bottom: rem.convert(40px);
          }
        }
        a {
          margin-top: rem.convert(16px);
        }
      }
      > div:nth-child(2) {
        background-color: var(--green);
        color: var(--white);
        padding: rem.convert(40px);
        border-radius: rem.convert(16px);
        margin: auto;
        @include media-breakpoint-down(lg) {
          padding: rem.convert(24px);
        }
        h3 {
          padding-bottom: rem.convert(12px);
          text-transform: capitalize;
          color: var(--white);
          margin: 0;
        }
        p {
          padding-bottom: rem.convert(24px);
        }
        a {
          margin-top: rem.convert(16px);
        }
      }
    }
  }
}
