.cards-section {
  .card {
    background: var(--blue);
    border-radius: 1rem;
    overflow: hidden;
    border: none;
    display: flex;
    flex-direction: column;
    // margin-bottom: 1.5rem;
    height: auto;
    width: 100%;
    .card-img-wrapper {
      overflow: hidden;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      margin: 0; // Reset default <figure> margin

      // Zoom on hover/tap/focus
      &:hover .card-img-top,
      &:focus-within .card-img-top,
      &:active .card-img-top {
        transform: scale(1.05);
      }
    }
    .card-img-top {
      height: rem.convert(320px);
      object-fit: cover;
      object-position: center;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      width: 100%;
      transition: transform 0.4s ease-in-out;
      transform-origin: center center;
    }
    .card-body {
      background: var(--blue);
      color: var(--white);
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include media-breakpoint-down(lg) {
        padding: 1.5rem;
      }
      .card-title-wrapper {
        margin-bottom: 1.5rem;
        // padding-bottom: 1.5rem;
        // border-bottom: 1px solid #FFFFFF99;
        @include media-breakpoint-down(lg) {
          padding-bottom: 1rem;
        }
        .card-title {
          margin-bottom: 0;
        }
      }
      .card-text-wrapper {
        padding-top: 1.5rem;
        border-top: 1px solid #ffffff99;
        margin-bottom: 1.5rem;
        .card-text {
          margin-bottom: 0;
        }
      }
      .card-cta {
        padding: 0;
        background: none;
        border: none;
        box-shadow: none;
        outline: none;
        display: inline-block;
        width: fit-content;
        &:focus-visible {
          outline: 2px solid var(--white);
          outline-offset: 2px;
        }
        .card-cta-icon {
          width: rem.convert(32px);
          height: rem.convert(32px);
          background: var(--white);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          transition: background 0.2s;
          svg {
            display: block;
          }
        }
        &:hover .card-cta-icon,
        &:focus .card-cta-icon {
          background: var(--green);
          svg path {
            stroke: var(--white);
          }
        }
      }
    }
  }
  .cards-row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    .col-lg-4 {
      display: flex;
    }
  }
  &.directors-card {
    .card {
      .card-body {
        .directors-card-county-wrapper {
          margin-bottom: 1.5rem;
          padding-bottom: 1.5rem;
          border-bottom: 1px solid #ffffff99;
        }
        .card-title-wrapper {
          margin-bottom: 8px;
          padding-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }
}
