.image-text {
  &.meeting-event-wrap {
    .heading-wrap {
      border-bottom: 1px solid rgba(17, 17, 17, 0.6);
      margin-bottom: rem.convert(40px);

      @include media-breakpoint-down(lg) {
        margin-bottom: rem.convert(16px);
        h2{
          margin-bottom: rem.convert(16px);
        }
      }
    }
  }

  .primary-btn {
    margin-top: rem.convert(40px);

    @include media-breakpoint-down(lg) {
      margin-top: rem.convert(32px);
    }
  }

  .img-wrap {
    height: rem.convert(418px);

    img,
    iframe,
    video {
      border-radius: rem.convert(24px);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    iframe {
      height: rem.convert(418px);
    }
  }

  .img-caption {
    margin-top: rem.convert(12px);
    font-style: italic;
    color: var(--gray);

    @include media-breakpoint-down(lg) {
      margin-top: rem.convert(8px);
    }
  }

  &.img-left {
    >.container {
      >.row {
        flex-direction: row-reverse;

        @include media-breakpoint-down(lg) {
          flex-direction: column-reverse;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    >.container {
      >.row {
        > div {
          &:last-child {
            position: sticky;
            top: rem.convert(90px);
            height: fit-content;
          }
        }
      }
    } 
  }
  @include media-breakpoint-down(lg) {
    >.container {
      >.row {
        flex-direction: column-reverse;
        >div {
          align-self: center;
          &:last-child {
            margin-bottom: rem.convert(40px);
          }
        }
      }
    }
  }
}