.image-text {
  &.meeting-event-wrap {
    .heading-wrap {
      border-bottom: 1px solid rgba(17, 17, 17, 0.6);
      margin-bottom: rem.convert(40px);

      @include media-breakpoint-down(lg) {
        margin-bottom: rem.convert(16px);
        h2 {
          margin-bottom: rem.convert(16px);
        }
      }
      #meetings-events-heading {
        max-width: rem.convert(400px);
        @include media-breakpoint-down(lg) {
          max-width: 100%;
        }
      }
    }
  }

  .primary-btn {
    margin-top: rem.convert(48px);

    @include media-breakpoint-down(lg) {
      margin-top: rem.convert(32px);
    }
  }

  .img-wrap {
    position: relative;
    width: 100%;
    height: fit-content;
    // min-height: rem.convert(418px);
    // max-height: rem.convert(418px);
    overflow: hidden;

    @include media-breakpoint-down(lg) {
      height: rem.convert(350px);
      min-height: rem.convert(350px);
      max-height: rem.convert(350px);
    }
    @include media-breakpoint-down(md) {
      height: rem.convert(183px) !important;
      min-height: rem.convert(183px);
      max-height: rem.convert(183px);
    }

    picture {
      display: block;
      width: 100%;
      height: 100%;
    }
    img {
      object-position: center;
      @include media-breakpoint-down(md) {
        height: 100% !important;
      }
    }
    img,
    iframe,
    video {
      border-radius: rem.convert(16px);
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0) scale(1, 1);
      transform: translateZ(0);
      image-rendering: -webkit-optimize-contrast;
      image-rendering: crisp-edges;
    }

    iframe {
      height: rem.convert(418px);
      @include media-breakpoint-down(lg) {
        height: 100%;
      }
    }
  }

  .img-caption {
    margin-top: rem.convert(12px);
    font-style: normal;
    color: var(--gray);

    @include media-breakpoint-down(lg) {
      margin-top: rem.convert(8px);
    }
  }

  &.img-left {
    > .container {
      > .row {
        flex-direction: row-reverse;

        @include media-breakpoint-down(lg) {
          flex-direction: column-reverse;
        }
      }
    }
  }
  .container {
    .image-text-row {
      --bs-gutter-x: 3rem;
      > div {
        &:first-child {
          align-self: center;
        }
        &:last-child {
          @include media-breakpoint-up(lg) {
            position: sticky;
            top: 0;
            height: fit-content;
          }
        }
      }
      .heading-wrap {
        @include media-breakpoint-down(md) {
          margin-bottom: rem.convert(24px);
        }
      }
    }
  }
  @include media-breakpoint-down(lg) {
    .container {
      .image-text-row {
        flex-direction: column-reverse;
        > div {
          align-self: center;
          &:last-child {
            margin-bottom: rem.convert(40px);
          }
        }
      }
    }
  }
  .text-only-row {
    --bs-gutter-x: 1.5rem;
    margin-top: rem.convert(32px);
    > div:first-child {
      @include media-breakpoint-down(md) {
        margin-bottom: rem.convert(24px);
      }
    }
    .event-card {
      background: var(--blue);
      color: var(--white);
      border-radius: rem.convert(16px);
      padding: rem.convert(40px);
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: rem.convert(24px);
      @include media-breakpoint-down(lg) {
        flex-direction: column;
        padding: rem.convert(24px);
        gap: 1rem;
        align-items: flex-start;
      }
      .event-card-date {
        text-align: center;
        .event-card-day {
          margin: 0;
        }
      }
      .event-card-content {
        padding-left: rem.convert(24px);
        border-left: 1px solid #fffef699;
        @include media-breakpoint-down(lg) {
          padding-left: 0;
          border-left: none;
          padding-top: 1rem;
          border-top: 1px solid #fffef699;
          width: 100%;
        }
        .event-card-title {
          margin-bottom: 1rem;
        }
        .event-card-meta {
          display: flex;
          flex-direction: row;
          gap: rem.convert(24px);
          @include media-breakpoint-down(lg) {
            flex-direction: column;
            gap: 0.5rem;
          }
          .event-card-meta-item {
            display: flex;
            flex-direction: row;
            gap: rem.convert(8px);
            align-items: center;
            .event-card-meta-icon {
              padding: rem.convert(4px);
            }
          }
        }
      }
    }
  }
  .btn-only-row {
    a.btn {
      margin-top: rem.convert(48px);
      @include media-breakpoint-down(lg) {
        margin-top: rem.convert(40px);
      }
    }
  }
}
