.simple-text-centre-wrapper {
  background-color: var(--off-white);
  .simple-text-centre-container {
    background-color: var(--off-white);
  }
  .simple-heading {
    text-align: center;
    max-width: rem.convert(800px);
    margin: 0 auto;
    padding-bottom: rem.convert(24px);
    font-weight: $bold;
  }
  .simple-text {
    text-align: center;
    max-width: rem.convert(800px);
    margin: 0 auto;
    color: var(--black);
    font-size: rem.convert(20px);
    line-height: rem.convert(30px);
    font-family: var(--body-font-family);
    font-weight: $regular;
  }
}
