.simple-text-centre-wrapper {
  background-color: var(--off-white);
  padding: rem.convert(0);
  .simple-text-centre-container {
    max-width: rem.convert(1280px);
    margin: 0 auto;
    padding: rem.convert(80px);
    background-color: var(--off-white);
    @include media-breakpoint-down(lg) {
      padding: rem.convert(40px);
    }
  }
  .simple-heading {
    text-align: center;
    max-width: rem.convert(800px);
    margin: 0 auto;
    padding-bottom: rem.convert(24px);
    font-weight: $bold;
  }
  .simple-text {
    text-align: center;
    max-width: rem.convert(800px);
    margin: 0 auto;
    color: var(--black);
    font-size: rem.convert(20px);
    line-height: rem.convert(30px);
    font-family: var(--body-font-family);
    font-weight: $regular;
  }
}
