// Text Only - v1

.text-only-container-v1-full {
  .text-only-container {
    max-width: rem.convert(1280px);
    margin: 0 auto;
    .text-only-content-v1-wrapper {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
      column-gap: rem.convert(48px);
      padding: rem.convert(48px);
      border-radius: rem.convert(16px);
      @include media-breakpoint-down(md) {
        flex-direction: column;
        flex-wrap: wrap;
        padding: rem.convert(24px);
      }
      .text-only-content-v1-left {
        flex: 1 1 50%;
        position: relative;
        @include media-breakpoint-down(md) {
          flex: 1 1 100%;
        }
        .text-only-content-v1-title {
          margin-bottom: rem.convert(0px);
          @include media-breakpoint-down(md) {
            margin-bottom: rem.convert(24px);
            padding-bottom: rem.convert(16px);
            border-bottom: 1px solid #FFFFFF99;
          }
        }
        &::after {
          content: "";
          display: block;
          width: rem.convert(1px);
          height: 100%;
          background-color: var(--white);
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          @include media-breakpoint-down(md) {
            content: none;
          }
        }
      }
      .text-only-content-v1-right {
        flex: 1 1 50%;
        align-self: center;
        @include media-breakpoint-down(md) {
          flex: 1 1 100%;
        }
        .text-only-content-v1-text {
          p {
          }
        }
        .text-only-content-v1-button-wrapper {
            margin-top: rem.convert(24px);
        }
      }
      &.bg-black {
        background-color: var(--black);
        color: var(--white);
      }
      &.bg-blue {
        background-color: var(--blue);
        color: var(--white);
      }
    }
  }
}

.two-col-text{
    padding-top: rem.convert(80px);
    @include media-breakpoint-down(md){
        padding-top: rem.convert(56px);
    }
    .border-right{
        @include media-breakpoint-up(md){
            border-right: 1px solid rgba(255, 255, 255, 0.6);
        }
      }
    .content-wrap{
        @include media-breakpoint-up(md){
            padding-left: rem.convert(48px);
        }
        .btn{
            margin-top: rem.convert(24px);;
        }
    }
}