$font-base-url: "../../fonts";

@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: url("#{$font-base-url}/Segoe-UI.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Italic";
  font-style: normal;
  font-weight: normal;
  src: url("#{$font-base-url}/Segoe-UI-Italic.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: url("#{$font-base-url}/Segoe-UI-Bold.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: url("#{$font-base-url}/Segoe-UI-Bold-Italic.woff") format("woff");
}

@font-face {
  font-family: "Gowun Batang Regular";
  font-style: normal;
  font-weight: normal;
  src: url("#{$font-base-url}/GowunBatang-Regular.woff") format("woff");
}

@font-face {
  font-family: "Gowun Batang Bold";
  font-style: normal;
  font-weight: normal;
  src: url("#{$font-base-url}/GowunBatang-Bold.woff") format("woff");
}
