@use "sass:math";
@use "sass:map";

$site-colors: (
  "black": #111111,
  "white": #ffffff,
  "gray": #585858,
  "off-white": #FFFEF6,
  "green": #00853F,
  "light-blue": #53C2FD,
  "light-green": #54B948,
  "blue": #004A64,
  "success": #16A34A,
  "error": #CC0000,
  "alert": #FEBF00
);

// Rebranding
$black: map.get($site-colors, "black");
$white: map.get($site-colors, "white");
$gray: map.get($site-colors, "gray");
$off-white: map.get($site-colors, "off-white");
$green: map.get($site-colors, "green");
$light-blue: map.get($site-colors, "light-blue");
$light-green: map.get($site-colors, "light-green");
$blue: map.get($site-colors, "blue");
$success: map.get($site-colors, "success");
$error: map.get($site-colors, "error");
$alert: map.get($site-colors, "alert");
